* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0e7e9;
}

.section {
    padding: 100px;
}
.problem p {
    font-size: 36px;
    text-align: center;
    font-family: 'Kiwi Maru', serif;
    color: #ffffff;
    margin:0 auto;
    align-items: center;
    background-color: #6c7a89;
    border-radius: 20px;
    width: 720px;
    height: 150px;
}

.case {
    display: flex;
    justify-content: center;
    align-items: center;

}

.case_invert{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
    flex-direction: row-reverse;
}

.case_detail {
    font-family: 'Kiwi Maru', serif;
    color: #354649;
}

.case_detail_invert {
    font-family: 'Kiwi Maru', serif;
    color: #354649;
    padding-left: 100px;
}

.case img {
    text-align: center;
    margin-left: 100px;
    margin-bottom: 20px;
}

.invert_img {
    margin-left: 100px;
    margin-bottom: 20px;
}


img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;
}


h3 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 14px;
}

.center_phrase p {
    text-align: center;
    font-size: 36px;
    font-family: 'Kiwi Maru', serif;
    color: #354649;
    margin-top: 64px;
}



.left_1 {
    position:relative;
}


.left_1_img img {
    width: 517px;
    height: 197px;
    transform: rotate(4deg);
}

.left_1_img {
    position: absolute;
    left: 336px;
    z-index: -1;
}

.serif {
    position: absolute;
    left:390px;
    top: 70px;
}



.left_1 p {
    font-family: 'Kiwi Maru', serif;
    color: #354649;
    font-size: 24px;
}