* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0e7e9;
}

.problem {
    margin: 100px;
}
.problem p {
    font-size: 36px;
    text-align: center;
    font-family: 'Kiwi Maru', serif;
    color: #ffffff;
    margin:0 auto;
    align-items: center;
    background-color: #6c7a89;
    border-radius: 20px;
    width: 720px;
    padding: 40px;
}

.case {
    display: flex;
    justify-content: center;
    align-items: center;
}

.case_size p {
    font-size: 20px;
}

.case_invert{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
    flex-direction: row-reverse;
}

.case_detail {
    font-family: 'Kiwi Maru', serif;
    color: #354649;
}

.case_detail_invert {
    font-family: 'Kiwi Maru', serif;
    color: #354649;
    padding-left: 100px;
}

.case img {
    text-align: center;
    margin-left: 100px;
    margin-bottom: 20px;
}

.invert_img {
    margin-left: 100px;
    margin-bottom: 20px;
}


img {
    width: 300px;
    height: 300px;
    object-fit: cover;

}


h3 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 14px;
}

.center_phrase p {
    text-align: center;
    font-size: 36px;
    font-family: 'Kiwi Maru', serif;
    color: #354649;
    margin-top: 64px;
}

.talk {
    max-width: 1080px;
    margin: 0 auto;
}

.left {
    position:relative;
    width: 700px;
    margin-top: 100px;
}


.left_hukidashi img {
    width: 517px;
    height: 197px;
    transform: rotate(4deg);
}

.left_hukidashi {
    position: relative;
    z-index: -1;
}

.serif_1 {
    max-width: 100%;
    position: absolute;
    top: 92px;
    left: 268px;
    transform: translate(-50%, -50%);
}

.left p {
    font-family: 'Kiwi Maru', serif;
    color: #354649;
    font-size: 24px;
}

.left_img {
    width: 208px;
    height: 208px; 
}

.right_1_hukidashi {
    position: relative;
    z-index: -1;
}

.right_1_hukidashi img {
    transform: scale(-1, 1);
    width: 517px;
    height: 197px;
}

.right_1 {
    position:relative;
    width: 490px;
    margin-top: 100px;
}

.serif_2 {
    max-width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.serif_2 p {
    font-family: 'Kiwi Maru', serif;
    color: #354649;
    font-size: 24px;
}

.service {
    position: relative;
    margin-bottom: 100px;
}

.service p{
    position: absolute;
    font-family: 'Rubik', serif;
    color: #354649;
    font-size: 64px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.service h2{
    font-size: 256px;
    color: #a3c6c4;
    font-family: 'Rubik', serif;
    opacity: 0.3;
    text-align: center;
}


.service_info {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.service_detail {
    display: inline-block;
    width: 400px;
    text-align: center;

}
.service_detail img {
    border-radius: 50%;
    margin-bottom: 50px;
}

.service_detail h3 {
    font-family: 'Kiwi Maru', serif;
    color: #354649;
    font-size: 24px;
    text-align: center;
}

.service_detail p {
    font-family: 'Kiwi Maru', serif;
    color: #354649;
    font-size: 16px;
}


.talk_section {
    margin-bottom: 150px;
}

.language_section h3{
    font-family: 'Kiwi Maru', serif;
    color: #354649;
    font-size: 24px;
}


.language_section {
    position: relative;
    margin-bottom: 300px;
}
.language_section h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 300px;
    border-bottom: 3px solid #354649;
    padding-bottom: 5px;
}

.language_content {
    display: flex;
    flex-wrap: wrap;
}

.background {
    background-color: #fff;
    width: 360px;
    height: 210px;
    border:3px solid #354649;
}

.python img {
    max-width: 60%;
    max-height: 60%;
    object-fit: contain;
}

.html_css img{
    max-width: 60%;
    max-height: 60%;
    object-fit: contain;
}

.java img {
    max-width: 60%;
    max-height: 60%;
    object-fit: contain;
}

.js img {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
}